body{
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2.2em;
    color: #818181;
    margin: 0;
}
header{
    background-color: #f4511e;
    
}

section, footer, video{
    margin: 40px;
}
h1{
    font-size: 63px;
    color: #fefffe;
    padding: 20px;
    text-align: center;
}
h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}
nav li a{
    padding: 10px;
    color: #fefffe;
    text-decoration: none;

}
nav li {
    float: right;

}

nav ul {
    float: right;
    list-style: none;
}

nav{
    font-size: 12px;
    letter-spacing: 4px;
    height: 50px;
    background-color: #ce4b00;
    padding-right: 40px;
}

footer{
    text-align: center;
    background-color: #303030;
    margin: auto;
    font-size: 20px;
    
}



